@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #0f0431;
    --pink: #ff3258;
    --white: #ffffff;
    --white-1: #ffffff;
}

body {
    background-color: var(--black);
    font-family: var(--font-stack);
}

h2,
input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
    color: var(--white);
}

input[type="submit"] {
    background-color: transparent;
    border: 2px solid var(--pink);
}

input[type="submit"]:hover {
    background: linear-gradient(to right, var(--pink) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease;
}

/* Responsive layout */
section#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.section-heading-3 {
    margin-bottom: 20px;
}

.contact-content {
    width: 300px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

input,
textarea {
    padding: 10px;
    background-color: #2e2e60;
    border: 1px solid var(--white);
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

textarea {
    resize: vertical;
}
